.DS_Store
.idea/
.vscode/
*.log
*.swp

vendor/
var/

.env
.env.local
.env.*.local
config/jwt/

coverage/
build/
public/build/

docker-compose.override.yml
docker-compose.override.yml.example
.phpunit.result.cache
